<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300&display=swap" rel="stylesheet">
    <title>Neetye Doorgesh</title>
</head>
<body>
    <div class="container">
      <div class="card">
        <div class="profile-pic image-cropper"><%= image_tag "profile-pic.jpg" %></div>
        <div class="text">Neetye Doorgesh</div>
        <div class="links"> 
          <div class="circle"><i class="fas fa-paper-plane"></i></div>
          <div class="circle"><i class="fab fa-linkedin-in"></i></div>
          <div class="circle"><i class="fab fa-github"></i></div>
        </div>
        <div class="description">An inspiring web developer with a passion for web application development and sucess in designing,implementing and shipping to production a clone of AirBnB and a Rails prototype of a Mobile Web App, with the the baility to follow industry and technological trends, and facilitating early adoption of innovations.</div>
        <div class="btn"><i class="fas fa-paper-plane"></i> Contact me</div>
      </div>
    </div>
</body>
</html>